body {
    text-align: center;
    margin: 0 auto;
}

.title {
    background-image: linear-gradient(to right, orange, purple);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
    text-align: center;
    line-height: height;
}

.ver_title {
    font-size: 15px;
    padding-left: 5px
}
.image{
    width: 100%;
    height: 100%;
    position: relative;
    /*position: fixed;*/
    text-align: center;
    /*fixed center;*/
}
.image::after{
    content: "";
    background:url('https://tuapi.eees.cc/api.php?category=dongman&type=302&px=m');
    background-repeat: no-repeat;
    opacity: 0.5;
    /*position: fixed;*/
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.btn {
    margin-bottom: 1rem;
    border: 1px solid #5fdefe;
    width: 360px;
    height: 30px;
    text-align: center;
    background-color: #1379cb;
    color: #ffffff;
    border-radius: 50px;
    line-height: 30px;
}

.btn1 {
    margin-bottom: 1rem;
    border: 1px solid #5c6cf6;
    width: 360px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    line-height: 30px;
}
.btn1  a {
    color: #000000;
}
.btn  a {
    color: #ffffff;
}

a {
    text-decoration: none;
    text-align: center;
    line-height: 30px;
}

.jyw {
    margin-bottom: 5rem;
}